$accent--lightmode: #E5E9F0;
$primary--lightmode: #4c466a;
$primary-light--lightmode: #5E81AC;
$primary-lighter--lightmode: #D8DEE9;
$shadow--lightmode: 0 8px 16px rgba(10, 10, 10, 0.1);

$accent--darkmode: #2e3440;
$primary--darkmode: #D8DEE9;
$primary-light--darkmode: #E5E9F0;
$primary-lighter--darkmode: #434C5E;
$shadow--darkmode: 0 8px 16px rgba(226, 226, 226, 0.1);

$warning: #EBCB8B;
$info: #81A1C1;
$success: #A3BE8C;
$danger: #BF616A;

$thumbnail-height: 15em;
$body-max-width: 1920px;

$sidebar-ratio: calc(1 - #{$content-ratio});
$content-max-width: calc(#{$body-max-width} * #{$content-ratio});
$sidebar-max-width: calc(#{$body-max-width} - #{$content-max-width});
$content-width: calc(#{$content-ratio} * 100%);
$sidebar-width: calc(#{$sidebar-ratio} * 100%);
